body {
  background-color: #efefdd;
}

header {
  padding: 2px 7px;
  box-shadow: #000;
  text-align: center;
}

.search-bar {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
  gap: 10px;
  max-width: 600px;
  margin: 20px auto;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  padding: 8px;
}

.icon-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #444;
  transition: color 0.2s;
}

.icon-btn:hover {
  color: #000;
}
.output {
  margin: 20px auto;
  max-width: 600px;
}
.card {
  background: white;
  padding: 15px;
  border: 1px solid #e5e7eb;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.notes-section {
  flex: 1;
  background: white;
  border: 1px solid #e5e7eb;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
  height: 400px;

  margin: 20px auto;
  max-width: 600px;
}

#notesList {
  flex: 1;
  overflow-y: auto;
  margin: 0;
  padding: 0 5px;
  list-style-type: disc;
}

#exportBtn {
  background-color: beige;
  border-radius: 20px;
  margin-top: 10px;
}
